/* Base Styles */
body {
    font-family: 'Heebo', sans-serif;
    font-size: 19px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: .625rem;
    padding-right: .625rem;
}

.container .grid-container {
    margin-left: -.625rem;
    margin-right: -.625rem;
}

.section {
    padding: 4rem 0;
}

@media screen and (min-width: 40em) {
    .container {
        padding-left: .9375rem;
        padding-right: .9375rem;
    }

    .container .grid-container {
        margin-left: -.9375rem;
        margin-right: -.9375rem;
    }
}

/* Section Styles */
